- path = request.path
%header#app--header
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    %a.navbar-brand{href: "#{root_path}"}
      %h2 TODO-LIST
    %h6
      = Time.now.in_time_zone('Tokyo').strftime('%Y/%m/%d/ %H:%M')
    %button.navbar-toggler{ type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbarNavAltMarkup',
                            'aria-controls': 'navbarNavAltMarkup', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation'}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse{id: 'navbarNavAltMarkup' }
      %ul.navbar-nav.ml-auto
        %li.nav-item
          = link_to 'Home', root_path, class: "#{'active' if path == '/'}", class: 'btn btn-outline-success'
        - unless user_signed_in?
          %li.nav-item
            = link_to 'SignUp', new_user_registration_path, class: "#{'active' if path == '/users/sign_up'}", class: 'btn btn-outline-info'
          %li.nav-item
            = link_to 'Login', new_user_session_path, class: "#{'active' if path == '/users/sign_in'}", class: 'btn btn-outline-primary'
        - if user_signed_in?
          %li.nav-item
            = link_to 'Logout', destroy_user_session_path, class: 'btn btn-outline-danger'
  %hr
